<!-- 

<div class="container">
    <header>
<h2 class="logo">FIGMA</h2>
<nav>
    <ul class="nav-link">
        <li><a href="/">Home</a></li>
        <li><a href="contact/contact.component.html">Contact</a></li>
        <li><a href="option/option.component.html">Option</a></li>
        <li><a href="about/about.component.html">About</a></li>
    </ul>
    
    
</nav>
<button>Contact us</button>
</header>
<div class="banner">
    <img src="assets/banners.jpg" />
</div>
<div class="content">
    <div class="first">
        <h3>Project Plan</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, excepturi?</p>
    </div>
    <div class="second">
        <h3>Modern Furniture</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, impedit!</p>
    </div>
    <div class="third">
        <h3>Realization</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, placeat?</p>
    </div>
</div>
<div class="back">
    <div class="livi">
        <img src="assets/wood.jpg">
    </div>
    <div class="drop">
        <img src="assets/furn.jpg">
    </div>
</div>
<div class="footer">
    <p>Copyright @ Figma | Designed By Mathan53</p>
</div>
</div> -->



