/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:#FF8303;
}
.logo{
    cursor: pointer;
    color:white;
    font-weight: 400;
}
.nav-link
{
    list-style: none;
    display: flex;
}
.nav-link li{
    padding: 0 25px;
    
}
.nav-link li a{
    font-size:18px;
    text-transform:uppercase;
    text-decoration: none;
    color:white;
    transform:0.3s;
}
.nav-link li a:hover{
    color:#1B1A17;
}
button{
    padding: 9px 25px;
    border:none;
    background-color:rgb(250, 141, 33,1);
    color:white;
    border-radius:24px;
    transform:0.3s;
    font-size: 18px;
}
button:hover{
    background-color:rgba(0,136,169,0.8);
}
.banner{
    margin-top:3px;
    text-align: center;
    background-color:#FFEDDA;
}
img{
    width:80%;
    height:80%;
    border-radius:30px;
}
.content{
    margin-top:30px;
    padding-left:130px;
    width:80%;
}
.first
{
    
    background-color:#FEF9EF;
    width:32%;
    height: auto;
    float:left;
    text-align:justify;
    margin-right:2%;
    text-align: center;
    border-radius:25px;
  margin-top:15px;
}
p{
    padding-top: 10px;
}
h3{
    padding-top: 10px;
}
.second
{
    background-color:#FEF9EF;
    width:32%;
    height: auto;  
    float:left;
    text-align: justify;
    margin-right:2%;
    text-align: center;
    border-radius:25px;
    margin-top:15px;
}
.third
{
    background-color:#FEF9EF;
    width:32%;
    height: auto;
    float:right;
    text-align: justify;
    text-align: center;
    border-radius:25px;
    margin-top:15px;
}
.back{
 
    padding-left:130px;
}
.livi{
    float: left;
    width:600px;
    height:500px;
    margin-top: 50px;
}
.drop{
    
    float:right;
    margin-top: 50px;
    width:600px;
    height:500px;
}
.footer
{
    background-color:#2CD3E1;
    width:100%;
    color:black;
    clear: both;
    text-align: center;
    padding:20px 20px;
    font-weight: 400;
    font-size: 18px;
}



 */
